VITE_SUPABASE_URL=https://uwlmzqwixnoqryakbiwl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3bG16cXdpeG5vcXJ5YWtiaXdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwMTM0NjUsImV4cCI6MjA5NTU4OTQ2NX0.PSfNZ-PeV5aVzCduAERY8mgwAMvKbq8XN6VVtl3FKFc